/* Start Variables */
:root {
	--primary-color: #9EDEFF;
	--secondary-color: #FFF;
	--header-color: #723455;
	--header-back-color: #000;
	--theird-color: rgb(183, 144, 186);
	--fourty-color: #444d4ccf;
	--search-color: #5b57555c;
	--h3-color: #6e747c;
	--footer-color: rgb(55, 46, 57);
	--input-search-color: #ddeaf0;
	--footer-main-color: #8e8e8e;
	--pleinciel-main-color: #f4f4f4;
	--pleinciel-liste-top-color: #d0d2d3;
	--rose-star-color: rgb(173, 52, 182);
}
/* End Variables */
.fa-rotate-45 {
/*    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);*/
    transform: rotate(45deg);
}
/* Start Fonts */
@font-face {
    font-family: 'robotoregular';
    src: url('../webfonts/roboto-regular-webfont.woff2') format('woff2'),
         url('../webfonts/roboto-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/* End  Fonts */

/* Start Override Bootstrap */

.bg-light{
	background:none !important;
}
.navbar-light .navbar-nav .nav-link{
	color: var(--secondary-color);
	text-transform: uppercase;
	cursor: pointer;
	font-size: 16px;
	font-weight: bold;
	line-height: 92px;
	padding: 0 7px;
}
.navbar-light .navbar-nav .nav-link:hover{
	background-color: var(--header-color);
	color: var(--secondary-color);
}
.list-group-item{
	border: 0
}
/* End Override Bootstrap */

/* Start Header */
*{
	font-family: 'Open Sans', sans-serif,"robotoregular", "Arial";
	padding: 0;
	margin: 0;
	letter-spacing: 1px;
}
h1,h2,h3,h4,h5,h6 {
	font-family: 'Open Sans', sans-serif,"robotoregular", "Arial";
}
::selection {
  background: var(--theird-color)
}
h3{
	color: var(--h3-color);
}
a{
	text-decoration: none;
}
header{
	background: url("../images/plane-841441.jpg");
	background-repeat: repeat;
	background-position: bottom;
	-webkit-background-size: cover;
	background-size: cover; 
/*	position: fixed;
	width: 100%;
	z-index: 99;*/
}
header section.all-header {
	position:fixed;
	z-index: 2;
	width: 100%
}
header section.top-header{
	background-color: rgba(0,0,0,0.6);
	width: 100%;
	overflow: hidden;
}
header section.top-header .top-bar{
	color: var(--secondary-color);
	margin-top: 7px;
	margin-bottom: 0;

}
header section.top-header .top-bar li a i{
	color: var(--secondary-color);
}
header section.top-header .top-bar li a i:hover{
	color: var(--header-color);
}
header section.top-header .login {
	
}
header section.top-header .login button {
	background: transparent;
	color: var(--secondary-color);
}
header section.top-header .login button i{
	
}
header section.bottom-header{
	width: 100%;
	border-top:1px solid var(--header-color);
	overflow: hidden;
	background-color: rgba(0,0,0,0.6);
/*	position: fixed;
	z-index: 2*/
}
header section.bottom-header .logo{
	width: 25%;
	float: left;
}
header section.bottom-header .logo img{
	width: 79%;
    height: 84px;
    /*float: right;*/
    margin-top: 4px;
    /*margin-right: 23px;*/
}
header section.bottom-header nav{
	width: 75%;
	float: left;
	padding:0;
}
header section.bottom-header nav .list-navbar{
	
}
header section.bottom-header nav .list-navbar li{
	
}
header section.bottom-header nav .list-navbar li a{
	color: var(--secondary-color);
}
header section.slider {
	/*height: 400px*/
}
/* End Header */


/* Start footer */
footer{
	background-color: var(--header-color);
	color: #FFF
}

footer .top-footer{
	background-color: var(--primary-color);
	color: #000;
	padding: 10px 0
}
footer .top-footer .charte{
	color: var(--header-color);
	font-weight: bold
}
footer .top-footer .form-top-footer{
	background-color: var(--primary-color);
	color: var(--secondary-color);
	padding: 10px 0;
	position: relative;
	float: right;
}
footer .top-footer .form-top-footer .input-top-footer{
	
}
footer .top-footer .form-top-footer .input-top-footer input[type="text"]{
	min-height: 48px;
	background-color: var(--fourty-color);
	border: 0;
	border-radius: 8px;
	min-width: 300px;
	color: var(--input-search-color)
}
footer .top-footer .form-top-footer .input-top-footer input[type="text"]::-webkit-input-placeholder{
	color: var(--primary-color)
}
footer .top-footer .form-top-footer button{
	border-radius: 50%;
	position: absolute;
	right: 18px;
	top: 15px;
	background-color: var(--footer-color);
	border: 0;
	color: var(--theird-color);
}
footer .bottom-footer{
	color: #FFF;
	padding-top: 40px;
}
footer .bottom-footer ul.list-left{

}
footer .bottom-footer ul.list-left li{
	background: none !important;
}
footer .bottom-footer ul.list-left li a{
	background: none !important;
	color: #FFF	;
}
footer .bottom-footer ul.list-left li a:hover{
	color: var(--theird-color) !important;
	text-decoration: none !important;
}
footer .bottom-footer ul.social-box{

}
footer .bottom-footer ul.social-box li{

}
footer .bottom-footer ul.social-box li a{
	color: var(--primary-color);
	transition: color 1s linear;
}
footer .bottom-footer ul.social-box li a:hover{
	color: var(--secondary-color)
}
/*footer .bottom-footer ul.social-box li a i{
	color: var(--primary-color)

}*/
/* End footer */

/* Responsive Mobile */
@media (max-width: 575.98px) {
  /* End Boostrap */
  .navbar-light .navbar-nav .nav-link {
  	text-align: center;
  }
  header section.top-header .top-bar {
    display: none;
  }
  header section.bottom-header .logo {
    float: right;
  }
  header section.bottom-header .logo img {
    width: 100%;
  }
  header section.bottom-header nav {
    float: right;
    width: 74%;
    margin-top: 26px;
  }
  footer section.top-footer h4 {
    text-align: center;
  }
  footer section.top-footer p {
  	text-align: center;
  }
  footer .top-footer .form-top-footer .input-top-footer input[type="text"] {
  	min-width: 284px
  }
}
@media (max-width: 1199.98px) {
	.navbar-light .navbar-nav .nav-link {
		font-size: 14px;
		padding: 0 7px;
	}
}
@media (min-width: 1400px) {
	.navbar-light .navbar-nav .nav-link {
		font-size: 14px;
		padding: 0 7px;
	}
}