@import url("helpers.css");

main {
  background-color: var(--pleinciel-main-color);
  padding-top: 30px;
  padding-bottom: 30px;
}
main section.top {
	background-color: var(--secondary-color);
	padding: 23px 50px;
}
main section.top i{
	font-size: 50px;
}
main section.bare {
	padding: 23px 50px;
	background-color: var(--secondary-color)
}
main section.bare .left {
}
main section.bare .left .identifiez {
	margin-bottom: 40px
}
main section.bare .left .identifiez h1 {
	background-color: var(--theird-color);
	color: var(--secondary-color);
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	padding: 10px 0;
	margin: 0
}
main section.bare .left .identifiez .tabs {
	background-color: var(--pleinciel-main-color)
}
/* Start tabs*/
main section.bare .left .identifiez .tabs input[type=radio] {
  display: none;
}
main section.bare .left .identifiez .tabs .label {
  display: inline-block;
  margin: 0 0 -1px;
  padding: 11px 63px;
  font-weight: 600;
  text-align: center;
  color: #414042;
  border-bottom: 1px solid #ddd;
  width: 49%;
  text-transform: uppercase;
}
main section.bare .left .identifiez .tabs .label i {
	color: #414042;
}
main section.search .search-tab label {
  text-transform: uppercase;
}
main section.bare .left .identifiez .tabs label:hover {
  color: #888;
  cursor: pointer;
}
main section.bare .left .identifiez .tabs input:checked + label {
  border: 1px solid var(--primary-color);
  border-bottom: 1px solid var(--primary-color);
  color: var(--secondary-color);
  background-color: var(--primary-color);
  padding: 11px 73px;
  width: 50%;
  text-transform: uppercase;
}
main section.bare .left .identifiez .tabs input:checked + label i{
	color: var(--secondary-color);
}
#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4,
#tab5:checked ~ #content5 {
  display: block;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content1 {
  padding: 10px;
  display: none;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content1 > div > div {
  padding: 10px;
  background-color: #EEEDF2;
  box-shadow: 2px 2px 2px #dedede;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content1 .column1 {
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  grid-gap: 6px;
  margin-bottom: 6px;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content1 form {

}
main section.bare .left .identifiez .tabs .box-bottom-info-content1 form label {
	color: #000;
	font-weight: bold;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content1 form input {
	border-radius: 0;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content1 form select {
	border-radius: 0;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content1 form button{
	background-color: var(--theird-color);
	border-radius: 0;
	border: 0
}
main section.bare .left .identifiez .tabs .box-bottom-info-content2 {
  padding: 10px;
  display: none;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content2 form {

}
main section.bare .left .identifiez .tabs .box-bottom-info-content2 form label {
	color: #000;
	font-weight: bold;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content2 form input {
	border-radius: 0;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content2 form select {
	border-radius: 0;
}
main section.bare .left .identifiez .tabs .box-bottom-info-content2 form button{
	background-color: var(--theird-color);
	border-radius: 0;
	border: 0
}
/* End tabs*/
main section.bare .left .identifiez .inscrivez-facebook {
	background-color: #eae6e5;
	padding: 33px;
	text-align: center;
}
main section.bare .left .identifiez .inscrivez-facebook button{
	border:0;
}
/* Start Info passagers */
main section.bare .left .info-passagers {
	margin-bottom: 40px;
}
main section.bare .left .info-passagers h1 {
	background-color: var(--theird-color);
	color: var(--secondary-color);
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	padding: 10px 0;
	margin: 0
}
main section.bare .left .info-passagers .passagers {
	background-color: var(--pleinciel-main-color);
	padding: 7px 13px;
}
/* End Info passagers */

/* Start conditions gÃ©nerales */
main section.bare .left .condition-generale {
	margin-bottom: 40px;
}
main section.bare .left .condition-generale h1 {
	background-color: var(--theird-color);
	color: var(--secondary-color);
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	padding: 10px 0;
	margin: 0
}
/* End conditions gÃ©nerales */
/* Start mode paiement */
main section.bare .left .mode-paiement {
	margin-bottom: 40px;
}
main section.bare .left .mode-paiement h1 {
	background-color: var(--primary-color);
	color: var(--secondary-color);
	text-align: center;
	text-transform: uppercase;
	font-size: 22px;
	padding: 10px 0;
	margin: 0
}
main section.bare .left .mode-paiement .top {
	padding: 7px 13px;
	background-color: var(--pleinciel-main-color)
}
main section.bare .left .mode-paiement .top button {
	background-color: var(--theird-color);
	border-radius: 0;
	border: 0;
	padding: 12px;
	color: var(--secondary-color);
	cursor: pointer;
	margin-bottom: 15px;
}
main section.bare .left .mode-paiement .top .securite {
	padding-left: 10px;

}
main section.bare .left .mode-paiement .top .securite > div {
}
main section.bare .left .mode-paiement .top .securite > div span {
	color:  #000;
	font-weight: bold;
}
main section.bare .left .mode-paiement .top .securite button i{

}
/* End mode paiement */
/* Start condition */
main section.bare .left .condition {

}
main section.bare .left .condition .buttons{
	margin-top: 10px;
}
main section.bare .left .condition .buttons .retour{
	background-color: var(--primary-color);
	border-radius: 0;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 8px;
}
main section.bare .left .condition .buttons .reserver{
	background-color: var(--theird-color);
	border-radius: 0;
	border: 0;
	text-transform: uppercase;
	font-weight: bold;
	padding: 8px 8px;
}
/* End condition */
main section.bare .right {
}
main section.bare .right .info-vol {

}
main section.bare .right .info-vol h1{
	background-color: var(--theird-color);
    color: var(--secondary-color);
    text-align: center;
    text-transform: uppercase;
    font-size: 22px;
    padding: 10px 0;
    margin: 0;	
}
main section.bare .right .info-vol .info {
	background-color: var(--pleinciel-main-color);
	margin-bottom: 15px;
}
main section.bare .right .info-vol .info .depart{
	padding: 10px 15px;
}
main section.bare .right .info-vol .info .depart h3{
	text-transform: uppercase;
	color: var(--primary-color);
	font-size: 15px;
	font-weight: bold;
}
main section.bare .right .info-vol .info .depart label{
	color: #8f8b8b;
	display: block;
	padding-left: 10px;
}
main section.bare .right .info-vol .info button {
	width: 100%;
	padding: 20px;
	border: 0;
	background-color: var(--theird-color);
	cursor: pointer;
	color: #fff;
	text-transform: uppercase;
}
main section.bare .right .info-vol .info button span {
	font-weight: bold;
	font-size: 23px;
}
main section.bare .right .appel {
	background-color: var(--pleinciel-main-color);
	padding: 15px;
	margin-bottom: 15px;
}
main section.bare .right .appel label{
	text-transform: uppercase;
	display: block;
	text-align: center;
	font-weight: bold
}
main section.bare .right .appel span {
	text-transform: uppercase;
	display: block;
	text-align: center;
	font-weight: bold;
	font-size: 25px;
}
main section.bare .right .paiement {
	background-color: var(--pleinciel-main-color);
	padding: 15px;
	width: 100%
}
main section.bare .right .paiement img{

	width: 100%
}
main section.bare .right .paiement label{
	text-transform: uppercase;
	display: block;
	text-align: center;
	font-weight: bold
}
main section.bare .right .paiement div {
	text-align: center;
}

/* Responsive Mobile */
@media (max-width: 575.98px) {
	main {
		background-color: #fff
	}
	main section.top {
		padding: 7px 19px;
	}
	main section.top .icon-res{
		display: none;
	}
	main section.top h1{
		font-size: 20px;
		text-align: center;
	}
	main section.bare .left .identifiez .tabs input:checked + label {
		width: 100%
	}
	main section.bare .left .identifiez .tabs .label {
		width: 100%;
	}
	main section.bare .left .mode-paiement .top button {
		display: block;
		margin: auto;
	}
	main section.bare .left .mode-paiement .top .securite {
		padding-left: 0;
		text-align: center;
	}
	main section.bare {
		padding: 0;
	}
}

/* Responsive Tablet */
@media (max-width: 991.98px) {
  main section.bare {
  	padding: 4px;
  }
  main section.bare .left .identifiez .tabs input:checked + label {
  	width: 100%
  }
  main section.bare .left .identifiez .tabs .label {
  	width: 100%
  }
  main section.bare .right .info-vol .info button {
  	padding: 5px;
  }
  main section.bare .left .condition .buttons .retour {
  	font-size: 13px;
  }
  main section.bare .left .condition .buttons .reserver {
  	font-size: 13px;
  	padding: 8px 6px;
  }
  main section.bare .right .appel label {
  	font-size: 15px;
  }
}