@import url("helpers.css");

main{
	background-color: var(--secondary-color);
	section.search{
		padding:100px 30px;
		background: url("../images/sea-1337565.jpg");
		background-repeat: no-repeat;
		background-size: auto;
		.search-tab{
			background-color: var(--search-color);
			color: var(--secondary-color);
		}
	}
}

main section.search .search-tab input[type=radio] {
  display: none;
}
main section.search .search-tab .label{
    display: inline-block;
    margin: 0 0 -1px;
    padding: 11px 78px;   
    font-weight: 600;
    text-align: center;
    color: var(--secondary-color);
    border: 1px solid #ddd;
}
main section.search .search-tab .label i{
	color: var(--search-color)
}
main section.search .search-tab label{
	text-transform: uppercase;
}
main section.search .search-tab label:hover {
  color: #888;
  cursor: pointer;
}
main section.search .search-tab input:checked + label {
  border: 1px solid #ddd;
  border-bottom: 1px solid #fff;
  color: var(--secondary-color);
  background-color: var(--theird-color);
  padding: 11px 78px;
  /*border-top-left-radius: 17px*/

}

#tab1:checked ~ #content1,
#tab2:checked ~ #content2,
#tab3:checked ~ #content3,
#tab4:checked ~ #content4, 
#tab5:checked ~ #content5
{
  display: block;
}

main section.search .search-tab .box-bottom-info-content1{
    border: 1px solid #CCC;
    padding: 10px;
    display: none;
}
main section.search .search-tab .box-bottom-info-content1 > div{
     
}
main section.search .search-tab .box-bottom-info-content1 > div > div{
    padding: 10px;
    background-color: #EEEDF2;
    box-shadow: 2px 2px 2px #dedede   
}
main section.search .search-tab .box-bottom-info-content1 .column1{
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
    grid-gap: 6px;
    margin-bottom: 6px;
}
main section.search .search-tab .box-bottom-info-content1 form {

}
main section.search .search-tab form button{
	background-color: var(--fourty-color);
	border: 0;
}
main section.search .search-tab form button:hover{
	background-color: var(--theird-color)
}
main section.search .search-tab .box-bottom-info-content2 {
    border: 1px solid #CCC;
    padding: 10px;
    display: none;
}
/*Start Coups de coeur*/
main section.coups-de-coeur{
	padding-top: 20px;
	padding-bottom: 60px
}
main section.coups-de-coeur h3{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 40px
}  
main section.coups-de-coeur .coups-de-coeur-items{

}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row{
	position: relative
}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row a{
	text-decoration: none
}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row .image{
	width: 100%
}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row .image img{
	width: 100%
}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row .titre{
	position: absolute;
	bottom: 57px;
	left: 47px;
	color: var(--secondary-color);
	font-size: 23px;
	text-transform: uppercase;
	font-weight: bold
}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row .titre:hover{
	background-color: --var(--theird-color)
}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row .prix{
	padding:4px;
	color: var(--fourty-color);
	background-color: #ccc;
	text-align: center;
	text-transform: uppercase;
}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row .prix span{
	color: var(--theird-color);

}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row .prix span.number{
	font-size: 31px
}
main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row .prix span.dh{

}
/* Start Coups de coeur */
/* Start meilleurs ventes */
main section.meilleurs-ventes{
	padding-top: 20px;
	padding-bottom: 100px;
	background-color: #f4f1f1
}
main section.meilleurs-ventes h3{
	text-transform: uppercase;
	font-size: 20px;
	font-weight: bold;
	padding-bottom: 40px
}  
main section.meilleurs-ventes .ventes-items{

}
main section.meilleurs-ventes .ventes-items .ventes-row{
	position: relative
}
main section.meilleurs-ventes .ventes-items .ventes-row a{
	text-decoration: none
}
main section.meilleurs-ventes .ventes-items .ventes-row .image{
	width: 100%
}
main section.meilleurs-ventes .ventes-items .ventes-row .image img{
	width: 100%;
	min-height: 200px
}
main section.meilleurs-ventes .ventes-items .ventes-row .titre{
	position: absolute;
	bottom: 57px;
	left: 47px;
	color: var(--secondary-color);
	font-size: 23px;
	text-transform: uppercase;
	font-weight: bold
}
main section.meilleurs-ventes .ventes-items .ventes-row .titre:hover{
	background-color: --var(--theird-color)
}
main section.meilleurs-ventes .ventes-items .ventes-row .prix{
	padding:4px;
	color: var(--fourty-color);
	background-color: #ccc;
	text-align: center;
	text-transform: uppercase;
}
main section.meilleurs-ventes .ventes-items .ventes-row .prix span{
	color: var(--theird-color);

}
main section.meilleurs-ventes .ventes-items .ventes-row .prix span.number{
	font-size: 31px
}
main section.meilleurs-ventes .ventes-items .ventes-row .prix span.dh{

}
/* End meilleurs ventes */
/* End main */




/* Responsive Mobile */
@media (max-width: 575.98px) {
	/* STart Boostrap */
	.navbar-light .navbar-nav .nav-link{
		line-height: 50px;
		text-align: center
	}
	/* End Boostrap */
	header section.top-header .top-bar{
		display: none;
	}
	header section.bottom-header .logo{
		float: right;
	}
	header section.bottom-header .logo img{
		width: 100%
	}
	header section.bottom-header nav{
		float: right;
		width: 100%
	}
	main section.search .search-tab form button{
		display: block;
		margin: auto;
	}
	main section.search .search-tab label{
		text-align: center;
		display: block;
	}
	main section.coups-de-coeur h3{
		text-align: center
	}
	main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row{
		margin-bottom: 5px;
	}
	main section.coups-de-coeur .coups-de-coeur-items .coups-de-coeur-row .titre{
		font-size: 21px
	}
	main section.meilleurs-ventes h3{
		text-align: center;
		font-size: 19px;
	}
	main section.meilleurs-ventes .ventes-items .ventes-row{
		margin-bottom: 5px
	}
	main section.meilleurs-ventes .ventes-items .ventes-row .titre{
		font-size: 21px
	}
	footer section.top-footer h4{
		text-align: center
	}
}
/* Responsive Tablet */
@media (max-width: 991.98px) {

	.navbar-light .navbar-nav .nav-link{
		line-height: 47px
	}
}